.disable{
    display: none;
}
.error {
    color: #ffc9d6;
}

body>div{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    margin: 50px 0 20px 0;
    text-align: center;
    color: #cef9dd;
    font-size: 50px;
    letter-spacing: 0.2ch;
}

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Assets/127262.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}



body::after{
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.no-of-books,.form>input,table input{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 7px;
    border: 3px solid #dd6149;
    width: 20%;
    color: #a4331c;
    
}

.form>input{
    margin-bottom: 10px;
}

button{
    color: white;
    background-color: #dd6149;
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
}

body>p{
    text-align: center;
    color: #ffc9d6;
}

label{
    color: #cef9dd;
    margin-bottom: 10px;
    font-size: 20px;
}

.submit{
    margin-top: 10px;
    padding: 10px;
    
}

div span{
    font-size: 20px;    
}

table{
    margin: auto auto;
    border: none;
    border-collapse: collapse;
    width: 60%;
    color: white;
}

th,td{
    padding: 10px;
    text-align: left;
    border: 4px solid #a4331c;
}

tr input{
    width: 90%;
}

.table-para{
    text-align: center;
    color: #cef9dd;
    font-size: 20px;
}

.add{
    padding: 20px 30%;
    color: #36845c;
    border-radius: 10px;
}

tbody button{
    width: 100%;
}